@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $format: "woff"
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    @if $format == "woff" {
      src: url("#{$file-path}.#{$format}") format($format);
    } @else {
      src: url("#{$file-path}.#{$format}") format("truetype");
    }
  }
}

@mixin WorkSans($weight: normal, $style: normal) {
  font-family: "WorkSans", sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin SpaceMono($weight: normal, $style: normal) {
  font-family: "SpaceMono", sans-serif;
  font-weight: $weight;
  font-style: $style;
}
